.header-background {
    background-image: linear-gradient(to right, #484848, #E2E2E2);
}

body{
  background-color: #2e2e2e;
}

html, body, #app, #app>div, root{
  height: 100%;
}

.text-decoration-none{
  color: #fff;
  text-decoration: none;
}

.text-decoration-none:hover{
  color: #fff;
}